  .user-photo {
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  .messages {
    margin-top: 20px;
    overflow-y: auto;
    height: 80vh;
  }

  .send {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
  }

  html, body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .flex-grow-1 {
    flex-grow: 1;
  }

  .offset-left {
    margin-left: auto;
  }

  .offset-right {
    margin-right: auto;
  }

  .margined {
    margin: 10px;
  }

  .user-message {
    margin-right: auto;
    width: 60%;
  }

  .other-message {
    margin-left: auto;
    width: 60%;
  }

  #underline {
    text-decoration: none;
    color: black;
  }

  #flex {
    display: flex;
    align-items: center;
  }